[user]
	name = tqer39
	email = tqer39@gmail.com
[core]
	editor = code --wait
[merge]
	tool = code --wait \"$MERGED\"
[push]
	default = simple
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
